/*
This is just the CSS file for index.html.
This manages the design and look of each object.
*/

body {
	border: 2px solid black;

}

.input-box {
	margin: auto;
	margin-top: 2cm;
	
	width: 80%;
	min-height: 2em;
	word-wrap: break-word;
	
	border: 2px solid #39CCCC;
	padding: 0.1em;
	font-size: 2em;
}
.outer-box {
	position: relative;
	top: 2cm;
	width: 10cm;
	height: 9.5cm;
	margin: auto;
}
#keyboard_window {
	
	position: relative;
	/*top: 50px;
	left: 100px;*/
	z-index: 3;

	/*margin-left: -1cm;
	margin-top: -1cm;*/
	
	/*width: 150px;
	height: 150px;*/
	width: 2cm;
	height: 2cm;

	border: 2px solid #FF4136;

	
	/*pointer-events: none;*/
}

#keyboard_window:hover {
	cursor: pointer;
}

.input {
	position: fixed;
	left:50%;
	top:25px;
	width: 500px;
	height: 2cm;
	margin-left: -250px;
	z-index: 3;
	text-align: center;
	font-size: 24px;
}

.outputstuff {
	position: relative;
	top: 4cm;
	height: 1em;
	width: 20em;
	border: 2px solid green;
	margin: auto;
}