body {
	border: 2px solid black;

}

.outer-box {
	position: relative;
	top: 4cm;
	width: 10cm;
	height: 9.5cm;
	border: 2px solid blue;
	margin: auto;
}
#keyboard_window {
	
	position: relative;
	/*top: 50px;
	left: 100px;*/
	z-index: -1;

	/*margin-left: -1cm;
	margin-top: -1cm;*/
	
	/*width: 150px;
	height: 150px;*/
	width: 2cm;
	height: 2cm;

	border: 2px solid red;
	
	background-color: rgba(0,0,255,0.4);
	
	/*pointer-events: none;*/
}

#keyboard_window:hover {
	cursor: pointer;
}

.input {
	position: fixed;
	left:50%;
	top:25px;
	width: 500px;
	height: 2cm;
	margin-left: -250px;
	z-index: 3;
	text-align: center;
	font-size: 24px;
}

.outputstuff {
	position: relative;
	top: 4cm;
	height: 1em;
	width: 20em;
	border: 2px solid green;
	margin: auto;
}