body {
	border: 2px solid black;

}


#keyboard_window {
	
	position: fixed;
	top: 50px;
	left: 100px;
	z-index: 2;
	
	width: 150px;
	height: 150px;
	
	border: 2px solid red;
	
	pointer-events: none;
}
#keyboard_window:hover {
	cursor: pointer;
}

.input {
	position: fixed;
	z-index: 3;
}